.container {
  width: 90%;
  margin: 20px auto;
}

.container div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.apresentation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.apresentation-container img {
  width: 70%;
  border-radius: 10px;
  box-shadow: var(--app-txt-in-dark) 0 10px 1rem;
  margin-bottom: 25px;
}

.apresentation-container p {
  font-weight: bold;
  text-align: justify;
  font-size: inherit;
}

.skills-container span {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  margin: 10px;
}

.skills-container svg {
  font-size: 4rem;
  margin-bottom: 5px;
}

.projects-container p {
  font-weight: bold;
  text-align: justify;
  font-size: inherit;
  margin-block: 15px;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.project-card img {
  width: 100%;
  border-radius: 1rem;
  border: 2px solid white;
  box-shadow: 0 2px 1rem white;
}

.project-card span {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color: var(--app-txt-in-dark);
}

.project-card svg {
  margin-inline-end: 8px;
}
