@keyframes show-side-bar {
  from {width: 0vw}
  to {width: var(--width-side-bar)}
}

@keyframes hide-side-bar {
  from {width: var(--width-side-bar)}
  to {width: 0vw}
}

.side-bar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  flex-direction: column;
  background-color: var(--app-bg-dark);
  top: 0;
  right: 0;
  height: 100vh;
  width: 0vw;
}

.side-bar div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  padding: 10px;
}

.side-bar img {
  width: 70%;
  border-radius: 10px;
}

.side-bar nav {
  font-size: 1.5rem;
  width: 100%;
}

.side-bar a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 15px 0;
}

.side-bar svg {
  margin-right: 10px;
}

.side-bar span {
  font-size: 1rem;
  width: 100%;
}

.show-side-bar {
  box-shadow: 0 0 0 100rem rgba(0, 0, 0, 0.7);
  animation-name: show-side-bar;
  animation-duration: var(--animation-time);
  width: var(--width-side-bar);
}

.hide-side-bar {
  animation-name: hide-side-bar;
  animation-duration: var(--animation-time);
}