:root {
  --width-side-bar: 60vw;
  --animation-time: 0.8s;
}

@keyframes rotate-90-degree {
  from {
    transform: rotate(0deg);
    right: 0vw;
  }
  to {
    transform: rotate(-90deg);
    right: var(--width-side-bar);
  }
}

@keyframes rotate-0-degree {
  from {
    transform: rotate(-90deg);
    right: var(--width-side-bar);
  }
  to {
    transform: rotate(0deg);
    right: 0vw;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.7rem;
  padding: 15px;
  font-weight: bold;
}

.header h1 {
  font-size: inherit;
}

.btn-header-menu {
  position: relative;
  display: flex;
  align-items: center;
  animation-duration: var(--animation-time);
  animation-name: rotate-0-degree;
  right: 0vw;
  transform: rotate(0deg);
}

.show-menu {
  position: relative;
  animation-duration: var(--animation-time);
  animation-name: rotate-90-degree;
  right: var(--width-side-bar);
  transform: rotate(90deg);
  z-index: 1;
}
