* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --app-bg-dark: rgb(10, 10, 10);
  --app-txt-in-dark: rgb(240, 240, 240);
  --orange: rgb(248, 120, 49);
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

body {
  font-family: sans-serif;
  background-color: var(--app-bg-dark);
  color: var(--app-txt-in-dark);
}

button {
  background: none;
  border: none;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
}

.orange {
  color: var(--orange);
}