.header-wallet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-wallet h1 {
  font-size: 2.5rem;
}

.expense-form {
  display: flex;
  align-items: center;
  margin-block: 20px;
}

.expense-form label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin-inline: 15px;
  font-weight: bold;
}

.expense-form input {
  padding: 5px;
  border-radius: 10px;
}

.expense-form button {
  font-size: 1rem;
  background-color: var(--blue);
  padding: 8px;
  border-radius: 10px;
  transition: 0.5s;
}

.expense-form button:hover {
  background-color: var(--light-blue);
  color: var(--app-txt-in-light);
}