@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --width-side-bar: 60vw;
  --animation-time: 0.8s;
}

@keyframes rotate-90-degree {
  from {
    transform: rotate(0deg);
    right: 0;
  }
  to {
    transform: rotate(-90deg);
    right: var(--width-side-bar);
  }
}

@keyframes rotate-0-degree {
  from {
    transform: rotate(-90deg);
    right: var(--width-side-bar);
  }
  to {
    transform: rotate(0deg);
    right: 0;
  }
}

.show-menu {
  position: fixed;
  animation-duration: var(--animation-time);
  animation-name: rotate-90-degree;
  right: var(--width-side-bar);
  margin-right: 10px;
  transform: rotate(90deg);
  z-index: 1;
}

.hide-menu {
  animation-duration: var(--animation-time);
  animation-name: rotate-0-degree;
  transform: rotate(0deg);
}

/* Sidebar */

@keyframes show-side-bar {
  from {
    width: 0;
  }
  to {
    width: var(--width-side-bar);
  }
}

@keyframes hide-side-bar {
  from {
    width: var(--width-side-bar);
  }
  to {
    width: 0;
  }
}

.show-side-bar {
  box-shadow: 0 0 0 100rem rgba(0, 0, 0, 0.7);
  animation-name: show-side-bar;
  animation-duration: var(--animation-time);
  width: var(--width-side-bar);
}

.hide-side-bar {
  animation-name: hide-side-bar;
  animation-duration: var(--animation-time);
}
