@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --width-side-bar: 60vw;
  --animation-time: 0.8s;
}

@keyframes rotate-90-degree {
  from {
    transform: rotate(0deg);
    right: 0;
  }
  to {
    transform: rotate(-90deg);
    right: var(--width-side-bar);
  }
}

@keyframes rotate-0-degree {
  from {
    transform: rotate(-90deg);
    right: var(--width-side-bar);
  }
  to {
    transform: rotate(0deg);
    right: 0;
  }
}

.show-menu {
  position: fixed;
  animation-duration: var(--animation-time);
  animation-name: rotate-90-degree;
  right: var(--width-side-bar);
  margin-right: 10px;
  transform: rotate(90deg);
  z-index: 1;
}

.hide-menu {
  animation-duration: var(--animation-time);
  animation-name: rotate-0-degree;
  transform: rotate(0deg);
}

/* Sidebar */

@keyframes show-side-bar {
  from {
    width: 0;
  }
  to {
    width: var(--width-side-bar);
  }
}

@keyframes hide-side-bar {
  from {
    width: var(--width-side-bar);
  }
  to {
    width: 0;
  }
}

.show-side-bar {
  box-shadow: 0 0 0 100rem rgba(0, 0, 0, 0.7);
  animation-name: show-side-bar;
  animation-duration: var(--animation-time);
  width: var(--width-side-bar);
}

.hide-side-bar {
  animation-name: hide-side-bar;
  animation-duration: var(--animation-time);
}

.awssld {
  --content-background-color: transparent !important;
  --slider-height-percentage: 105% !important;
  --organic-arrow-height: 25px !important;
  margin-block: 20px;
}

.awssld__timer {
  background-color: rgba(255, 255, 255, 1) !important;
}

.awssld__controls__arrow-left:before,
.awssld__controls__arrow-left:after,
.awssld__controls__arrow-right:before,
.awssld__controls__arrow-right:after {
  right: calc(
    25% -
      (0.7071 * (var(--organic-arrow-height) + var(--organic-arrow-thickness))) /
      2
  ) !important;
}

.awssld__controls__arrow-left:before,
.awssld__controls__arrow-left:after {
  left: calc(
    25% -
      (0.7071 * (var(--organic-arrow-height) + var(--organic-arrow-thickness))) /
      2
  ) !important;
}

@media screen and (min-width: 768px) {
  .awssld {
    --slider-height-percentage: 55% !important;
  }
}

@media screen and (min-width: 1024px) {
  .awssld {
    --slider-height-percentage: 45% !important;
  }
}
